body{
background-color: #E58989;
text-align: center;
font-family: IBM_Plex_Mono;
}
h1{
  color: FF4E15;
}
img{

  border-radius:50%;
margin-left: auto;
margin-right:

}
html{
scroll-behavior: smooth;
  font-size: 120%;
  box-sizing: border-box;
}
